.table th {
    text-align: center;
}

.container-main {
    width: 1232px;
    margin: 0 auto;
}

table {
    table-layout: fixed;
}

td {
    width: 10%;
    word-wrap:break-word;
}

.table-detail {
    margin-bottom:0px;
}

.section-detail {
    margin-bottom: 20px;
    overflow-x:scroll;
}

th.DefectID {
    width: 56.625px;
}

td.DefectID {
    text-align: right;
}

th.Application {
    width: 147.3px;
}

th.Synopsis {
    width: 343.65px;
}

th.Status {
    width: 91.35px;
}

th.Severity {
    width: 133.65px;
}

th.Priority {
    width: 73.65px;
}

th.DiscoveryDate {
    width: 105.675px;
}

td.DiscoveryDate {
    text-align: right;
}

th.Cycle {
    width: 188.85px;
}

th.DetectedInBuild {
    width: 118.65px;
}

th.ImpactedEnvironment {
    width: 126.15px;
}

th.OriginTeam {
    width: 124.8px;
}

th.DetectedBy {
    width: 120.675px;
}

.btn.btn_primary {
    border-color: #44b549;
}

.btn {
    margin-right: 15px;
    height: 32px;
    line-height: 32px;
    padding: 0 46px;
    display: inline-block;
    background-color: #44b549;
    border-color: #3eac27;
    color: #fff;
}

#webtn {
    margin-right: 15px;
    height: 32px;
    line-height: 32px;
    padding: 0 46px;
    display: inline-block;
    background-color: #44b549;
    border-color: #3eac27;
    color: #fff;
}

.title {
    font-size: 20px;
    line-height: 1.3;
    padding-top: 9px;
    display: inline-block;
    line-height: 1.3;
    margin-bottom: 3px;
    font-size: medium;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    cursor: pointer;
    color: #609;
    color: #1a0dab;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
