<html>
<head>
	<title>思想史研究－关键词文本分析</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/css/MyCss.css" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#selectFile').bind('change', function () {
           if($(this).val() != '-1'){
              var url = $(this).val(); // get selected value
              if (url) { // require a URL
                  window.location = url; // redirect
              }
              return false;
           }
        });
        $('#managefile').bind('click', function () {
          window.location = '/managefile'; // redirect
          return false;
        });
        $('#upload').bind('click', function () {
          if($('#file').val() == ''){
              alert('请选择文件');
              return false;
          }
        });
        $('#selectFile')
            .find('option')
            .filter(function() {
                return this.value == $('#selectedFile').val();
            })
            .prop('selected', true);
    });


    </script>
</head>
<body>
<style type="text/css">
	#Top{
		text-align: center;
		background-color: #000000;
		color: #ffffff;
		height: 30px;
	}

	#Wrapper{
		text-align: center;
	}

	#Content{
		margin: 0 auto 0 auto;
	}
    table{
        margin: auto;
        border-width: 1px;
        border-style: solid;
    }
	#Bottom{
		text-align: center;
	}
</style>

<header class="container-fluid well well-small">
    <div class="container-main">
        <div class="row-fluid">
            <div class="span12">
                <div class="pull-left">
                    <h4>思想史研究 - 数位人文 - 仁易家园</h4>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <a href="/extract">关键词分析</a>
            </div>
        </div>
    </div>
</header>

<form enctype="multipart/form-data" action="/" method="post">
<div class="container-main">
    <section class="row-fluid">
        <div class="sidebar-nav well"  style="padding: 10px;">
            关键词个数(Top K): <input type="text" name="topk" value="{{topk}}">
            <input type="submit" name="extract" value="开始提取" />
        </div>
    </section>
    <section class="row-fluid">
        <div>
            <textarea id="text" rows="12" cols="100" name="text" style="width: 1230px">{{content}}</textarea>
        </div>
    </section>
    <section class="row-fluid" style="text-align: center; overflow-x: hidden; margin-top: 10px;">
         <table class="table table-bordered table-striped span2 keywordListTable" style="background-color: #ffffff; margin-top: 10px;  height: 460px; max-height: 460px; overflow-y: scroll;">
            <thead>
                <tr>
                    <th style="text-align: left; ">关键词</th>
                </tr>
            </thead>
            <tbody style="max-height: 460px; overflow-y: scroll; font-size: small; border-width: 0; line-height: 10px; padding: 0;" class="table-detail">
                 %for tag in tags:
                    %if(totalDifferentWordCount != -1 and tag.count>totalDifferentWordCount):
                        <tr style="line-height: 10px; padding: 0">
                            <td class="span3" style="line-height: 10px"><B>{{tag.name}}</B></td>
                            <td class="text-right" style="text-align: right;line-height: 10px"><B>{{tag.count}}</B></td>
                        </tr>
                    %else:
                        %totalDifferentWordCount = int(-1)
                        %if(tag.textId == -1):
                            <tr>
                                <td colspan="2" class="text-center" style="text-align: center"><B>统计</B></td>
                            </tr>
                            <tr style="line-height: 10px">
                                <td class="span3" style="line-height: 10px">{{tag.name}}</td>
                                <td class="text-right" style="text-align: right;line-height: 10px">{{tag.count}}</td>
                            </tr>
                        %else:
                        <tr style="line-height: 10px">
                            <td class="span3" style="line-height: 10px">{{tag.name}}</td>
                            <td class="text-right" style="text-align: right;line-height: 10px">{{tag.count}}</td>
                        </tr>
                        %end
                    %end
                 %end
            </tbody>
        </table>
        <div style="text-align: center; vertical-align: middle;">
            <img src="{{keyImgUrl}}"/>
        </div>
    </section>
    <footer class="well well-small">
        <span>项目主页：<a href="http://github.com/tonglanli/jiebademo">http://github.com/tonglanli/jiebademo</a></span>
	    <span>作者微博：<a href="http://weibo.com/u/1654146914">http://weibo.com/u/1654146914</a></span>
        <span>
            网站功能及思想史讨论QQ群：<a>365153546</a>
        </span>
        <span>
            微信号：<a>tonglanli2014</a>
        </span>
    </footer>
</div>
<div style="text-align: center;">
	<a href="http://www.miitbeian.gov.cn/">沪ICP备11021711号-1</a>
</div>
</form>

</body>
</html>
