<html>
<head>
	<title>思想史研究－关键词文本分析</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/css/MyCss.css" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".selectAll").change(function(e){
            var table= $(e.target).closest('table');
            $('td input:checkbox',table).prop('checked',this.checked);
            $('th input:checkbox',table).prop('checked',this.checked);
            if(this.checked){
                $('td input:checkbox',table).prop('name','checkedtext');
            }
            else{
                $('td input:checkbox',table).prop('name','text');
            }
        });
        $('#upload').bind('click', function () {
          if($('#file').val() == ''){
              alert('请选择文件');
              return false;
          }
        });
        $(".fileItem").change(function(e){
            if(this.checked){
                this.name = 'checkedtext';
            }
            else{
                this.name = 'text';
            }
        });
    });


    </script>
</head>
<body>
<style type="text/css">
	#Top{
		text-align: center;
		background-color: #000000;
		color: #ffffff;
		height: 30px;
	}

	#Wrapper{
		text-align: center;
	}

	#Content{
		margin: 0 auto 0 auto;
	}
    table{
        margin: auto;
        border-width: 1px;
        border-style: solid;
    }
	#Bottom{
		text-align: center;
	}
</style>

<header class="container-fluid well well-small">
    <div class="container-main">
        <div class="row-fluid">
            <div class="span12">
                <div class="pull-left">
                    <h4>思想史研究</h4>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <a href="/extract">关键词分析</a> ｜ <a href="/managefile">文件管理</a>
            </div>
        </div>
    </div>
</header>

<form enctype="multipart/form-data" action="/managefile" method="post">
<div class="container-main">
    <section class="row-fluid">
        <article class="span12">
            <div class="sidebar-nav well">
                <input type="file" id="file" name="file"><input type="submit" id="upload" name="upload" value="上传">
            </div>
        </article>
    </section>
    <section class="row-fluid" style="text-align: center;">
         <table class="table table-bordered table-striped" style="background-color: #ffffff;">
            <thead class="sidebar-nav well">
                <tr>
                    <th style="text-align: left; ">
                        <input type="checkbox" class="selectAll">全选</input>
                        <input type="submit" class="delete" name="delete" value="删除">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        %for text in texts:
                          <input type="checkbox" class="fileItem" name="text" value="{{text.id}}">{{text.name}}</input>
                        <br />
                        %end
                    </td>
                </tr>
            </tbody>
            <tfoot class="sidebar-nav well">
                <tr>
                    <th style="text-align: left; ">
                        <input type="checkbox" class="selectAll">全选</input>
                        <input type="submit" class="delete" name="delete" value="删除">
                    </th>
                </tr>
            </tfoot>
        </table>
    </section>
    <footer class="well well-small">
        <span>项目主页：<a href="http://github.com/tonglanli/jiebademo">http://github.com/tonglanli/jiebademo</a></span>
	    <span>作者微博：<a href="http://weibo.com/u/1654146914">http://weibo.com/u/1654146914</a></span>
        <span>
            设计图：<a href="/design/sequence">时序图</a>
        </span>
        <span>
            网站功能及思想史讨论QQ群：<a>365153546</a>
        </span>
    </footer>
</div>
</form>

</body>
</html>
